body{
    text-align: center;
    background-color: rebeccapurple;
    color: #fff;
}
h1{
    font-size: 50px;
    margin: 30px;
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
}
button{
    padding: 10px;
    color: white;
    background-color: rebeccapurple;
    border-radius: 4px;
    border: 2px solid black;
    font-family: inherit;
}
input[type=text]{
    padding: 10px;
    border-radius: 4px;
    border: 2px solid black;
}